<div class="jumbotron">
  <h1>Lets go somewhere</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo,
    tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>

<div id="map"> </div>
<hr>

<div class="container">
  <div class="row">

    {{#each locations as |location| }}
    <div class="col locationTiles">
      <h2><a class='locationTitle' href="/locations/{{location.id}}">{{location.location_name}}</a></h2>
      <p class="locationText">{{location.description}}</p>
      <p>
        {{#if location.review_count}}
        Reviews: {{location.review_count}}
        {{/if}}
        <a class="btn" href="/locations/{{location.id}}">View details &raquo;</a>
      </p>
    </div>
    {{/each}}
  </div>
</div>