<link rel="stylesheet" href="https://ssimpkin.github.io/dhsite2017/files/leaflet-demo/leaflet/leaflet.css" />
<script src="https://ssimpkin.github.io/dhsite2017/files/leaflet-demo/leaflet/leaflet.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />
<script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>


<div class="container heroTitle">
  <div class="row">
  <h1>Let's Go Somewhere</h1>
  <p class="heroText">Welcome! Please sign up or login to start posting your locations and leave your reviews!</p>
</div>
</div>

 
<div class="container">
   <hr>
  <div class="row">
    <div class="col" id="map"></div>
  </div>

  <hr>

  <div class="row">
    {{#each locations as |location| }}
    <div class="col locationTiles">
      <h2><a class='locationTitle' href="/locations/{{location.id}}">{{location.location_name}}</a></h2>
      <p class="locationText">{{location.description}}</p>
      <p>
        {{#if location.review_count}}
        <a class="btn" href="/locations/{{location.id}}">
          <button type="button" class="button">
            Reviews <span class="badge bg-secondary">{{location.review_count}}</span>
          </button>
        </a>
        {{/if}}
          <a class="btn" href="/locations/{{location.id}}">
          <button type="button" class="button">
            Details 
          </button>
        </a>
      </p>
    </div>
    {{/each}}
  </div>
    <hr>
</div>

<script src="/js/leaflet.js"></script>